/* Background */ body.dark .bg { color: #f8f8f2; background-color: #282a36; }
/* PreWrapper */ body.dark .chroma { color: #f8f8f2; background-color: #282a36; }
/* Other */ body.dark .chroma .x {  }
/* Error */ body.dark .chroma .err {  }
/* CodeLine */ body.dark .chroma .cl {  }
/* LineTableTD */ body.dark .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ body.dark .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ body.dark .chroma .hl { background-color: #ffffcc }
/* LineNumbersTable */ body.dark .chroma .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ body.dark .chroma .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Line */ body.dark .chroma .line { display: flex; }
/* Keyword */ body.dark .chroma .k { color: #FC618D }
/* KeywordConstant */ body.dark .chroma .kc { color: #FC618D }
/* KeywordDeclaration */ body.dark .chroma .kd { color: #7cd88f }
/* KeywordNamespace */ body.dark .chroma .kn { color: #FC618D }
/* KeywordPseudo */ body.dark .chroma .kp { color: #FC618D }
/* KeywordReserved */ body.dark .chroma .kr { color: #FC618D }
/* KeywordType */ body.dark .chroma .kt { color: #7cd88f }
/* Name */ body.dark .chroma .n {  }
/* NameAttribute */ body.dark .chroma .na { color: #50fa7b }
/* NameBuiltin */ body.dark .chroma .nb { color: #7cd88f }
/* NameBuiltinPseudo */ body.dark .chroma .bp {  }
/* NameClass */ body.dark .chroma .nc { color: #50fa7b }
/* NameConstant */ body.dark .chroma .no {  }
/* NameDecorator */ body.dark .chroma .nd {  }
/* NameEntity */ body.dark .chroma .ni {  }
/* NameException */ body.dark .chroma .ne {  }
/* NameFunction */ body.dark .chroma .nf { color: #50fa7b }
/* NameFunctionMagic */ body.dark .chroma .fm {  }
/* NameLabel */ body.dark .chroma .nl { color: #7cd88f }
/* NameNamespace */ body.dark .chroma .nn { color: #f8f8f2 }
/* NameOther */ body.dark .chroma .nx {  }
/* NameProperty */ body.dark .chroma .py {  }
/* NameTag */ body.dark .chroma .nt { color: #FC618D }
/* NameVariable */ body.dark .chroma .nv { color: #7cd88f }
/* NameVariableClass */ body.dark .chroma .vc { color: #7cd88f }
/* NameVariableGlobal */ body.dark .chroma .vg { color: #7cd88f }
/* NameVariableInstance */ body.dark .chroma .vi { color: #7cd88f }
/* NameVariableMagic */ body.dark .chroma .vm {  }
/* Literal */ body.dark .chroma .l {  }
/* LiteralDate */ body.dark .chroma .ld {  }
/* LiteralString */ body.dark .chroma .s { color: #fde566 }
/* LiteralStringAffix */ body.dark .chroma .sa { color: #fde566 }
/* LiteralStringBacktick */ body.dark .chroma .sb { color: #fde566 }
/* LiteralStringChar */ body.dark .chroma .sc { color: #fde566 }
/* LiteralStringDelimiter */ body.dark .chroma .dl { color: #fde566 }
/* LiteralStringDoc */ body.dark .chroma .sd { color: #fde566 }
/* LiteralStringDouble */ body.dark .chroma .s2 { color: #fde566 }
/* LiteralStringEscape */ body.dark .chroma .se { color: #fde566 }
/* LiteralStringHeredoc */ body.dark .chroma .sh { color: #fde566 }
/* LiteralStringInterpol */ body.dark .chroma .si { color: #fde566 }
/* LiteralStringOther */ body.dark .chroma .sx { color: #fde566 }
/* LiteralStringRegex */ body.dark .chroma .sr { color: #fde566 }
/* LiteralStringSingle */ body.dark .chroma .s1 { color: #fde566 }
/* LiteralStringSymbol */ body.dark .chroma .ss { color: #fde566 }
/* LiteralNumber */ body.dark .chroma .m { color: #bd93f9 }
/* LiteralNumberBin */ body.dark .chroma .mb { color: #bd93f9 }
/* LiteralNumberFloat */ body.dark .chroma .mf { color: #bd93f9 }
/* LiteralNumberHex */ body.dark .chroma .mh { color: #bd93f9 }
/* LiteralNumberInteger */ body.dark .chroma .mi { color: #bd93f9 }
/* LiteralNumberIntegerLong */ body.dark .chroma .il { color: #bd93f9 }
/* LiteralNumberOct */ body.dark .chroma .mo { color: #bd93f9 }
/* Operator */ body.dark .chroma .o { color: #FC618D }
/* OperatorWord */ body.dark .chroma .ow { color: #FC618D }
/* Punctuation */ body.dark .chroma .p {  }
/* Comment */ body.dark .chroma .c { color: #6a666d }
/* CommentHashbang */ body.dark .chroma .ch { color: #6a666d }
/* CommentMultiline */ body.dark .chroma .cm { color: #6a666d }
/* CommentSingle */ body.dark .chroma .c1 { color: #6a666d }
/* CommentSpecial */ body.dark .chroma .cs { color: #6a666d }
/* CommentPreproc */ body.dark .chroma .cp { color: #FC618D }
/* CommentPreprocFile */ body.dark .chroma .cpf { color: #FC618D }
/* Generic */ body.dark .chroma .g {  }
/* GenericDeleted */ body.dark .chroma .gd { color: #ff5555 }
/* GenericEmph */ body.dark .chroma .ge { text-decoration: underline }
/* GenericError */ body.dark .chroma .gr {  }
/* GenericHeading */ body.dark .chroma .gh {  }
/* GenericInserted */ body.dark .chroma .gi { color: #50fa7b }
/* GenericOutput */ body.dark .chroma .go { color: #44475a }
/* GenericPrompt */ body.dark .chroma .gp {  }
/* GenericStrong */ body.dark .chroma .gs {  }
/* GenericSubheading */ body.dark .chroma .gu {  }
/* GenericTraceback */ body.dark .chroma .gt {  }
/* GenericUnderline */ body.dark .chroma .gl { text-decoration: underline }
/* TextWhitespace */ body.dark .chroma .w {  }
